.navcolor{
    background-color: bisque;
    border-bottom: solid rgb(0, 39, 70,0.2) 1px;
}

.nleft{
        position: absolute;
        left: 15%;
        display: inline-block;
}

.headertext1{
    color: maroon;
    padding: 10px;
}

@media (max-width: 700px) {
    .headertext1{
        display: none;
    }
    .navdrop{
        display: block;
        position: relative;
        right: 200px; 
    }
}

@media (min-width: 700px) {
    .navdrop{
        display: none;
    }
}

.headimg{
    max-width: 570px;
    height: auto; 
}

#imgcont{
    padding-right: 0px;
    margin-top: 30px;
    padding-left: 0px;
}

#headcont{
    padding-right: 0px;
    margin-top: 30px;
    padding-left: 30px;
    background-color: darkred;
    color: aliceblue;
    text-align: left;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    max-height: 247.03px;

}

#headhead{
    margin-top: 30px;
}

#headhead1{
    margin: 10px;
}

#calenel{
    max-height: 20%;
    font-size: 15px;
    display: inline-block;
    color: maroon;
    border-bottom: solid rgb(0, 39, 70,0.2) 1px;
}

#calenel1{
    max-height: 20%;
    font-size: 15px;
    display: inline-block;
}

#monthword{
    font-size: 20px;
    font-style: normal;
}